name: Build and Push Docker Image to Docker Hub

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: docker.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: {% raw %}${{ github.repository }}{% endraw %}
  TEST_TAG: {% raw %}${{ github.repository }}{% endraw %}:test
  LATEST_TAG: {% raw %}${{ github.repository }}{% endraw %}:latest

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Install poetry
        run: pip install poetry

      - name: Get version from poetry
        id: poetry_version
        shell: bash
        run: echo poetry_version=$(poetry version -s) | tee --append $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: {% raw %}${{ secrets.DOCKER_USERNAME }}{% endraw %}
          password: {% raw %}${{ secrets.DOCKER_PASSWORD }}{% endraw %}

      - name: Build and export to Docker
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: {% raw %}${{ env.TEST_TAG }}{% endraw %}

      - name: Test
        run: |
          docker run --rm {% raw %}${{ env.TEST_TAG }}{% endraw %}

      - name: Build and push with run number
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: {% raw %}${{ env.IMAGE_NAME }}{% endraw %}:{% raw %}${{ steps.poetry_version.outputs.poetry_version }}{% endraw %}-{% raw %}${{ github.run_number }}{% endraw %}

      - name: Build and push with latest
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: {% raw %}${{ github.event_name != 'pull_request' }}{% endraw %}
          tags: {% raw %}${{ env.LATEST_TAG }}{% endraw %}
