# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
name: Test code using nox

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  generate-jobs:
    runs-on: ubuntu-latest
    outputs:
      session: {% raw %}${{ steps.set-matrix.outputs.session }}{% endraw %}
    steps:
    - uses: actions/checkout@v5
    - uses: wntrblm/nox@main
    - run: pip install nox-poetry
    - id: set-matrix
      shell: bash
      run: echo session=$(nox --json -l | jq -c '[.[].session]') | tee --append $GITHUB_OUTPUT

  checks:
    name: Session {% raw %}${{ matrix.session }}{% endraw %}
    needs: [generate-jobs]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        session: {% raw %}${{ fromJson(needs.generate-jobs.outputs.session) }}{% endraw %}
    steps:
    - uses: actions/checkout@v5
    - uses: wntrblm/nox@main
    - run: pip install nox-poetry poetry
    - run: nox -s "{% raw %}${{ matrix.session }}{% endraw %}"
